## 과제 수행자: 이세현

## 학번: 2025178869

## List Comprehension

 - 1부터 5까지의 정수 리스트 만들기

In [1]:
number_list= []
number_list.append(1) 
number_list.append(2) 
number_list.append(3) 
number_list.append(4) 
number_list.append(5)

In [12]:
number_list= []
for number in range(1, 6):
    number_list.append(number)
    
number_list

[1, 2, 3, 4, 5]

In [11]:
number_list= list(range(1, 6))
number_list

[1, 2, 3, 4, 5]

In [10]:
#1부터 5까지의 정수 리스트 만들기 - list comprehension
number_list= [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [8]:
#함수 적용
number_list= [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [7]:
# 조건 적용
a_list= [number for number in range(1,6) if number % 2 == 1]
a_list

[1, 3, 5]

In [13]:
a_list= [number for number in range(1,6) if number % 2 == 1]
a_list

[1, 3, 5]

In [14]:
a_list= []
for number in range(1,6):
    if number%2 == 1:
        a_list.append(number)
        
a_list

[1, 3, 5]

**List Comprehension 예제**

In [15]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']
#함수적용
[word.lower() for word in sentence]
#조건적용
[word for word in sentence if len(word) > 6]
#함수적용하여튜플로저장
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

**두 개의 for**

In [16]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [17]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [19]:
#다음은어떤결과가?
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

**Dictionary Comprehension**

In [21]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [22]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [23]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in set(word)}
letter_counts

{'l': 1, 't': 2, 'e': 2, 's': 1, 'r': 1}

In [25]:
#set comprehension
a_set= {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

## Functions
- return 값을 갖는 함수

In [27]:
def function_name(param1, param2):
    value = do_something()
    return value

In [28]:
# 덧셈 함수
def sum(a,b):
    return a+b

sum(1,2)

3

In [29]:
sum(1.3,3.1)

4.4

In [30]:
sum('love ', 'python')

'love python'

In [31]:
#zip을 이용한 순회
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "-eat", fruit, "-enjoy", dessert)

Monday : drink coffee -eat banana -enjoy tiramisu
Tuesday : drink tea -eat orange -enjoy ice cream
Wednesday : drink beer -eat peach -enjoy pie

In [34]:
# zip을 이용하여 영어-프랑스 사전 만들기
english= 'Monday', 'Tuesday', 'Wednesday'
french= 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [33]:
dict( zip(english, french) )

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

### 함수 위치 인자

In [35]:
# wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [37]:
menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [39]:
menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [40]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [45]:
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [46]:
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [47]:
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

- **가능한 경우**

In [48]:
def menu(price, wine='chardonnay', entree='chicken',dessert='pudding'):
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [51]:
menu(100)# 1 위치인자
menu(price=100)#1키워드인자
menu(price=120, entree='beef')#2키워드인자
menu(dessert='bagel', price=110)#2키워드인자
menu('eighty','saint-pierre', 'fish')#3위치인자
menu('hundred' ,wine='saint-pierre')#1위치인자,1키워드인자

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [52]:
menu(100)# 1 위치인자

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [53]:
menu(price=100)#1키워드인자

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [54]:
menu(price=120, entree='beef')#2키워드인자

{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}

In [55]:
menu(dessert='bagel', price=110)#2키워드인자

{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}

In [56]:
menu('eighty','saint-pierre', 'fish')#3위치인자

{'price': 'eighty',
 'wine': 'saint-pierre',
 'entree': 'fish',
 'dessert': 'pudding'}

In [57]:
menu('hundred' ,wine='saint-pierre')#1위치인자,1키워드인자

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

- **불가능한 경우**

In [58]:
def menu(price, wine='chardonnay', entree='chicken',dessert='pudding'):
         return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [61]:
menu()# price에인자가할당이안됨
menu(price=100,'saint-pierre')#키워드인자할당후,위치인자
menu(100,price=120)#같은변수에두번할당
menu(main='cream pasta')#정의되지않은매개변수

SyntaxError: positional argument follows keyword argument (1287309594.py, line 2)

In [62]:
menu()# price에인자가할당이안됨

TypeError: menu() missing 1 required positional argument: 'price'

In [63]:
menu(price=100,'saint-pierre')

SyntaxError: positional argument follows keyword argument (1720621741.py, line 1)

In [64]:
menu(100,price=120)#같은변수에두번할당

TypeError: menu() got multiple values for argument 'price'

In [65]:
menu(main='cream pasta')#정의되지않은매개변수

TypeError: menu() got an unexpected keyword argument 'main'

### docstring

In [66]:
def echo(anything):
    'echo returns its input argument'
    return anything

In [68]:
def print_if_true(thing, check):
    """Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument."""
    if check:
        print(thing)

In [69]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [71]:
print(echo.__doc__)

echo returns its input argument